[Unit]
Description=Redbrick Website
After=network.target
[Service]
ExecStart=/var/www/redbrick/bin/www
Restart=always
User=root
Group=webgroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/redbrick
[Install]
WantedBy=multi-user.target
