#footer {
  border-top: 1px solid $color-border;
  color: $color-default;
  font-size: $font-size + 2;
  padding: 20px 0;
  text-align: center;

  .outer {
    margin-bottom: 0;
  }

  a {
    color: $color-link;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

#footer-info {
  font-size: 0.85em;
  line-height: $line-height;
}
