body {
  margin: 0;
  width: 100%;
}

.field {
  border: 0;
  display: inline-block;
  margin: 0 1em 0 0;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: 30%;
  z-index: 1;

  &:nth-child(3) {
    margin-right: 0;
  }
}

.button {
  margin: 16px;
}

.message {
  width: 96%;
}

.input {
  background: transparent;
  border: 0;
  border-radius: 0;
  display: block;
  float: right;
  height: 2rem;
  margin-bottom: 2em;
  opacity: 0;
  padding: 0.5em;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 100;
}

textarea {
  &.input {
    padding-bottom: 0;
    resize: none;
  }
}

.input {
  &:focus {
    outline: none;
  }
}

.label {
  -khtml-user-select: none;
  -moz-osx-font-smoothing: grayscale;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  color: #3a6edf;
  display: inline-block;
  float: right;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em 0;
  pointer-events: none;
  position: absolute;
  text-align: left;
  user-select: none;
  width: 100%;

  &::before,
  &::after {
    content: '';
    left: 0;
    position: absolute;
    width: 100%;
  }

  &::before {
    background: $color-white;
    height: 100%;
    top: 0;
    transform: translate3d(0, -100%, 0);
    transition: transform 0.3s;
  }

  &::after {
    height: 2px;
    background: #3a6edf;
    top: 100%;
    transition: opacity 0.3s;
  }
}

.label-content {
  display: block;
  padding: 0;
  position: relative;
  transform-origin: 0 0;
  transition: transform 0.3s, color 0.3s;
  width: 100%;
}

.input {
  &:focus,
  &--filled & {
    opacity: 1;
    transition: opacity 0s 0.3s;
  }
}

.input:focus + .label::before,
.input--filled .label::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.input:focus + .label::after,
.input--filled .label::after {
  opacity: 0;
}

.input:focus + .label .label-content,
.input--filled .label .label-content {
  color: #cbc4c6;
  -webkit-transform: translate3d(0, 2.1em, 0) scale3d(0.65, 0.65, 1);
  transform: translate3d(0, 2.1em, 0) scale3d(0.65, 0.65, 1);
}

.button,
input[type='submit'] {
  -webkit-appearance: none;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5em;
  color: $color-white;
  background-color: #3a6edf;
  transition: all 0.3s ease-out;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18),
    0 2px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18),
    0 2px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18), 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}

.button {
  &:hover,
  &:focus,
  &:active {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.23),
      0 4px 15px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.23),
      0 4px 15px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.23),
      0 4px 15px 0 rgba(0, 0, 0, 0.2);
  }
}

#recent-post {
  padding: 0;

  .card {
    height: 80px;
  }
  li a {
    .item-inner {
      .item-title {
        margin: 0;
      }
      .item-date {
        margin: 0;
      }
    }
  }
}
