#menu {
    font-family:        map-get($font-families, 'menu');
    font-size: 14px;
    text-align: center;
    list-style-type: none;

// menu's buttons
  ul.menu-buttons {
    list-style-type: none;
    width:       100%;
    overflow: hidden;
    padding: 0;
    text-align: center;
    margin:  20px 0 20px 0;

    li.menu-button {
      display: inline;
      text-decoration: none;

      .menu-button-link {
        color:   map-get($menu, color);
        display: inline-block;
        height:  100%;
        text-decoration: none;
        padding: 14px 16px;
        text-align: center;

        &:hover,
        &:active {
          text-decoration: none;
          color:           lighten(map-get($menu, color), 15);
        }
      }
    }
    &:first-child {
      margin-top: 5px;
    }
  }

  .active {
    border-bottom: 2px dashed #999;
    text-decoration: none;
  }
}
