@import 'util/reset';
@import 'util/vendor';
@import 'variables';
@import 'util/mixin';
@import 'util/grid';

@include global-reset;

input,
button {
  margin: 0;
  padding: 0;

  &::focus-inner {
    border: 0;
    padding: 0;
  }
}

html,
body,
#container {
  height: 100%;
}

body {
  background: $color-background;
  color: $color-default;
  font: $font-size $font-sans;
  text-size-adjust: 100%;
}

a {
  color: $color-link;
  text-decoration: none;

  &:visited {
    color: $color-link;
  }
}

code {
  background-color: #f8f8f8;
  border-radius: 2px;
  color: #e96900;
  font-family: $font-mono;
  font-size: 0.8em;
  margin: 0 2px;
  padding: 3px 5px;
}

.outer {
  @include clearfix;
  margin: 0 auto;
  max-width: ($column-width + $gutter-width + 10) * $columns + $gutter-width;
  padding: 0 $gutter-width;

  @include mq-mini {
    padding: 0;
  }
}

.left,
.alignleft {
  float: left;
}

.right,
.alignright {
  float: right;
}

.clear {
  clear: both;
}

.logo {
  background-image: url($logo-url);
  background-repeat: no-repeat;
  background-size: $logo-width $logo-height;
  height: $logo-height;
  width: $logo-width;
}

#container {
  position: relative;

  & > .outer {
    margin-bottom: 30px;
  }
}

#main {
  @include mq-normal {
    @include column($main-column);
  }

  @include mq-tablet {
    @include column($sidebar-column-tablet);
  }
}

@import 'extend';
@import 'partial/misc';
@import 'partial/header';
@import 'partial/profile';
@import 'partial/article';
@import 'partial/archive';
@import 'partial/timeline';
@import 'partial/footer';
@import 'partial/sidebar';
@import 'partial/404';
@import 'partial/paypal';
@import 'partial/scrim';
@import 'partial/calendar';
@import 'partial/committee';
@import 'partial/talks';
@import 'partial/search';
@import 'partial/toTop';
@import 'highlight/index';
@import 'partial/monokai';
