<article
  id="post"
  class="article article-type-page"
  itemscope=""
  itemprop="blogPost"
>
  <div class="article-inner">
    {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
      <img src=".{{ .Params.banner | relURL }}" class="article-banner" />
    {{ end }}
    {{ partial "article_header" . }}
    <div class="article-entry" itemprop="articleBody">
      {{ .Content }}
    </div>
    {{ partial "article_footer" . }}
  </div>
  {{ partial "prev_next_post" . }}
</article>
