{{ with .Get "googledoc" }}
  <div class="row">
    <iframe src="{{ . }}" style="width:100%; height:550px"></iframe>
  </div>
{{ end }}
{{ with .Get "slideshare" }}
  <iframe
    src="{{ . }}"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="width:100%;height:550px;border:1px solid #CCC;border-width:1px;margin-bottom:5px;max-width: 100%;"
    allowfullscreen
  ></iframe>
{{ end }}
{{ with .Get "src" }}
  <div class="row">
    <embed src="{{ . }}" width="100%" height="550" type="application/pdf" />
  </div>
{{ end }}
